<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":0,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2021\/seattle-summer-events-guide-art-exhibits-festivals-exercise-holiday-water-markets-parades\/",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2021-6-6 6:00:00",
	"modifieddate":"2021-6-7 16:30:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"life",
	"section_tier2":"entertainment",
	"sections_all":"life|entertainment",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
